.content {
  width: 945px;

  &-topblock {
    color: #ffffff;
    background: $green;
    padding: 20px 25px 30px 260px;
    position: relative;
    margin-bottom: 40px;

    img {
      position: absolute;
      left: 15px;
      top: -10px;
      border-bottom: 1px solid $green;
      border-top: 1px solid $green;
      box-shadow: 0 5px 5px 5px rgba(#000, 0.1);
    }

    &__title {
      font-size: 40px;
      font-family: 'Playfair Display', serif;
      margin-bottom: 15px;
    }

    &__p {
      margin-bottom: 20px;
    }

    &__buttons {
      display: flex;
    }

    &__button {
      text-decoration: none;

      &:first-of-type {
        margin-right: 30px;
      }
    }
  }

  &__title {
    border-bottom: 3px solid $green;
    padding-bottom: 10px;
    margin-bottom: 20px;

    text-align: center;

    h1 {
      font-size: 44px;
      color: $brown;
      font-family: 'Playfair Display', serif;
      margin: 0;
    }
  }

  &-catalog {
    &__title {
      text-align: center;

      h2 {
        font-family: 'Playfair Display', serif;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
      padding-right: 50px;
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      text-decoration: none;

      img {
        margin-right: 10px;
        border: 1px solid $grey;
      }

      &-text {
        color: #000000;
        margin-bottom: 15px;
      }

      &-price {
        color: #000000;

        span {
          font-weight: 700;
        }
      }
    }
  }

  &-nav {
    &__title {
      text-align: center;
      h2 {
        font-family: 'Playfair Display', serif;
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__btn {
      display: block;
      text-decoration: none;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
    }
  }

  &-price {
    &__title {
      text-align: center;
      h2 {
        font-family: 'Playfair Display', serif;
      }
    }
    &__text {
      p {
        margin-top: 0;
        margin-bottom: 15px;
        color: #000000;
      }
    }
    h3 {
      color: rgba(#000, .7)
    }
    table {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      margin-bottom: 35px;
      th {
        color: #ffffff;
        background: $green;
        padding: 7px 15px;
        font-weight: 400;
        text-align: left;
      }
      td {
        border-bottom: 1px solid #b2d1c1;
        padding: 7px 15px;
      }
      tr:last-of-type {
        td {
          border-bottom: none;
        }
      }
    }
  }

}

.text {
  margin-bottom: 20px;

  p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #000000;

  }
}