.header {
  background: url("../../img/header-bg.jpg") top center no-repeat;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;

  &-fixed {
    display: none;
    background: #f5f9f7;
  }

  &__topline {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__logo {
    margin-right: 60px;
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        display: block;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        margin-right: 35px;
        margin-left: 35px;

        &:hover {
          color: green;
        }
      }
    }
  }

  &__main {
    width: 500px;

    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 70px;
      color: $brown;
      margin: 0 0 45px;
      font-weight: 300;
    }

  }

  &__text {
    width: 365px;

    p {
      margin: 0 0 20px;
      line-height: 1.35;

      span {
        color: $green;
        white-space: nowrap;
      }

    }

  }

  &__list {
    margin: 0 0 45px;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 25px;
      position: relative;
      padding-left: 90px;
      padding-top: 5px;
      font-size: 16px;
      color: #000000;

      span {
        color: $green;
        font-weight: 700;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }

      &:first-of-type {
        &:before {
          background: url(../../img/icons_sprite.jpg) -565px -0 no-repeat;
          width: 71px;
          height: 53px;
        }
      }

      &:nth-of-type(2) {
        &:before {
          background: url(../../img/icons_sprite.jpg) -367px -0 no-repeat;
          width: 65px;
          height: 62px;
        }
      }

      &:nth-of-type(3) {
        &:before {
          background: url(../../img/icons_sprite.jpg) -179px -0 no-repeat;
          width: 62px;
          height: 60px;
        }
      }
    }
  }

  &__button {
    margin-top: 35px;
  }
}

@media screen and (max-width: 1169px) {
  .header {
    background: url("../../img/header-bg970.jpg") center 40px no-repeat;

    &__button {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 969px) {
  .header {
    background: url("../../img/header-bg750.jpg") center 95px no-repeat;

    &__topline {
      margin-bottom: 20px;
    }

    &__logo {
      margin-right: 40px;
    }

    &__menu {
      ul {
        a {

          margin-right: 25px;
          margin-left: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .header {
    background: url("../../img/header-bg480.jpg") center 95px no-repeat;
    padding-top: 65px;

    &__main {
      width: 100%;
      max-width: 425px;
      h1 {
        font-size: 60px;
      }
    }

    &__topline {
      display: none;
    }

    &-fixed {
      display: flex;
      position: fixed;
      z-index: 9999;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 46px;

      &__phone {
        position: absolute;
        left: 0;
        top: 0;
        width: 46px;
        height: 46px;
        background: url(../../img/mobile-phone.svg) center center no-repeat;
      }

      &__menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 46px;
        height: 46px;
        background: url(../../img/ham.svg) center center no-repeat;
      }

      &__logo {
        width: 135px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .header {
    background: url("../../img/header-bg320.jpg") center 50px no-repeat;

    &__main {

      h1 {
        font-size: 40px;
        text-align: center;
      }
    }
    &__text {
      width: 100%;
    }
  }
}